
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* input*/
.input
{
    @apply bg-transparent outline-none rounded-md border border-slate-500 focus:outline-0 focus:outline-transparent
}

.label
{
    @apply text-sm lg:text-base font-semibold
}

.section
{
    @apply p-5 w-full
}

.title
{
    @apply text-4xl xl:text-6xl font-semibold
}

.title2
{
    @apply text-3xl xl:text-4xl font-semibold
}

.title3
{
    @apply text-2xl xl:text-2xl font-semibold
}

.btn
{
    @apply bg-PrimaryLight text-white px-6 py-3 disabled:opacity-50 disabled:cursor-not-allowed
}

.loading
{
    @apply h-6 w-6 border-2 border-PrimaryDark rounded-full animate-spin border-r-white border-t-white
}

.themeButton
{
    @apply border border-zinc-700 dark:border-zinc-200 h-8 w-8 rounded-full grid place-content-center shadow-xl
}

/* active link */
.active-nav
{
    @apply relative inline-block

}

.active-nav-link
{
    @apply relative inline-block 
        after:bottom-2 after:origin-left after:content-[''] after:absolute after:w-[100%] 
        after:scale-x-0  after:duration-75 after:hover:scale-100 after:active:scale-100 
        before:bottom-2 before:origin-right before:content-[''] before:absolute before:w-[100%] 
        before:scale-x-0  before:duration-75 before:hover:scale-100 before:active:scale-100 
}
